doctype
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        title EcmaScript6 - ES2015

        link(rel="stylesheet", href="css/reveal.css")
        link(rel="stylesheet", href="css/theme/black.css")

        //- Theme used for syntax highlighting of code
        link(rel="stylesheet" href="lib/css/zenburn.css")

        //- Printing and PDF exports
        script.
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );

    body
        div(class="reveal")
            div(class="slides")

                //- presentación
                include ./includes/slide-00.pug

                //- adios puntos y coma
                include ./includes/slide-01.pug

                //- constantes
                include ./includes/slide-02.pug

                //- block-scope
                include ./includes/slide-03.pug

                //- funciones arrow
                include ./includes/slide-04.pug

                //- manejo de parametros extendido
                include ./includes/slide-05.pug

                //- plantillas
                include ./includes/slide-06.pug

                //- propiedades de objetos mejoradas
                include ./includes/slide-07.pug

                //- asignación desestructurada
                include ./includes/slide-08.pug

                //- modulos
                include ./includes/slide-09.pug

                //-
                include ./includes/slide-10.pug

                //-
                include ./includes/slide-11.pug

                //-
                include ./includes/slide-12.pug

                //-
                include ./includes/slide-13.pug

                //-
                include ./includes/slide-14.pug

                //-
                include ./includes/slide-15.pug

                //-
                include ./includes/slide-16.pug

                //-
                include ./includes/slide-17.pug

                //-
                include ./includes/slide-18.pug

                //-
                include ./includes/slide-19.pug

        script(src="lib/js/head.min.js")
        script(src="js/reveal.js")

        script.
            Reveal.initialize({
              history: true,
              dependencies: [
                  { src: 'plugin/markdown/marked.js' },
                  { src: 'plugin/markdown/markdown.js' },
                  { src: 'plugin/notes/notes.js', async: true },
                  { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
              ]
            });
